<template>
    <form class="guest-form">
        <h1 class="title">Welcome!</h1>
        <div class="divider"></div>
        <div class="form-group">
            <label class="label" for="input">Email</label>
            <input class="input" v-model="email" requred type="text"/>
        </div>
        <div class="form-group">
            <label class="label" for="input">First name</label>
            <input class="input" v-model="firstName" requred type="text"/>
        </div>
        <div class="form-group">
            <label class="label" for="input">Last name</label>
            <input class="input" v-model="lastName" requred type="text"/>
        </div>
        <div class="form-group">
            <label class="label" for="input">Password</label>
            <input class="input" v-model="password" requred type="password"/>
        </div>
        <button @click="register">submit</button>
        <h6>Already registered? 
            <router-link to="/" class="signup">Login.</router-link>
        </h6>
        <b-alert show variant="danger" v-if="resError">{{ resError }}</b-alert>
        <p v-if="errors.length">
        <ul>
            <b-alert show variant="danger" v-bind:key="error" v-for="error in errors">{{ error }}</b-alert>
        </ul>
        </p>
        <h6 v-if="loading">
            <div class="text-center">
            <b-spinner type="grow" label="Spinning"></b-spinner>
            </div>
        </h6>
    </form>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator'

@Component
export default class Signup extends Vue {
    email = ''
    firstName = ''
    lastName = ''
    password = ''
    errors : string [] = [];
    resError: null | string = null;
    loading = false;

    register(e: Event) {
        e.preventDefault()
        this.errors = []
        this.resError = null
        this.loading = true;
        fetch('https://reqres.in/api/users', {
            method: 'POST',
            headers: {'content-type': 'text/plain',
            'Access-Control-Allow-Origin': 'http://localhost:8080',
            'Access-Control-Allow-Credentials': 'true'},
            body: JSON.stringify({
                'email': this.email,
                'first_name': this.firstName,
                'last_name': this.lastName,
                'password': this.password
            })
        })
        .then(response => response.json())
        .then(result => {
            console.log("registration completed with result: ", result)

            this.resError = null;
            if(result.error){
            this.resError = result.error;
            }
            if (this.email == '') {
            this.errors.push("Email is required.");
            } else if(!/^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(this.email)){
            this.errors.push("Please give a valid email.");
            }
            if(this.firstName == ''){
            this.errors.push("First name is required.");
            } 
            if(this.lastName == ''){
            this.errors.push("Last name is required.");
            } 
            if(this.password == ''){
            this.errors.push("Password is required.");
            } 
            if(this.errors.length == 0 && this.resError == null) {
            // TODO: save token and redirect to users
            //localStorage.setItem('access-token', result.token)
            this.$router.push({ name: 'SignIn' })
            }
        })
        .finally(()=>{
        this.loading = false;
      })
    }
}
</script>