<template>
  <form class="guest-form">
    <h1 class="title">Welcome back</h1>
    <h3 class="sub-title">email: eve.holt@reqres.in</h3>
    <h3 class="sub-title">password: any not empty password</h3>

    <div class="divider"></div>

    <div class="form-group">
      <label class="label" for="input">Email</label>
      <input class="input" v-model="email" required type="text" />
    </div>

    <div class="form-group">
      <label class="label" for="input">Password</label>
      <input class="input" v-model="password" required type="password" />
    </div>

    <button @click="submit">submit</button>
    <h6>Not registred yet? 
      <router-link to="/signup" class="signup">Signup.</router-link></h6>
    <b-alert show variant="danger" v-if="resError">{{ resError }}</b-alert>
    <p v-if="errors.length">
    <ul>
      <b-alert show variant="danger" v-bind:key="error" v-for="error in errors">*{{ error }}</b-alert>
    </ul>
    </p>
    <h6 v-if="loading">
      <div class="text-center">
      <b-spinner type="grow" label="Spinning"></b-spinner>
      </div>
    </h6>
  </form>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

@Component
export default class SignIn extends Vue {
  email = ''
  password = ''
  errors: string [] = [];
  resError: string | null = null;
  loading = false;

  submit(e: Event) {
    e.preventDefault()
    this.errors = [];
    this.resError = null;
    this.loading = true;
    fetch('https://reqres.in/api/login', {
      method: 'POST',
      headers: { 'content-type': 'application/json' },
      body: JSON.stringify({
        email: this.email,
        password: this.password
      })
    })
      .then(response => response.json())
      .then(result => {
        console.log('Completed with result:', result)

        this.resError = null;
        if(result.error){
          this.resError = result.error;
        }
        if (this.email == '') {
          this.errors.push("Email is required.");
        } else if(!/^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(this.email)){
          this.errors.push("Please give a valid email.");
        }
        if(this.password == ''){
          this.errors.push("Password is required.");
        } 
        if(this.errors.length == 0 && this.resError == null) {
          // TODO: save token and redirect to users
          localStorage.setItem('access-token', result.token)
          this.$router.push({ name: 'Users' })
        }
      })
      .finally(()=>{
        this.loading = false;
      })
  }
}
</script>

<style lang="scss">
.guest-form {
  max-width: 500px;
  margin: 100px auto;

  .title {
    color: #243d56;
    font-size: 24px;
    margin-bottom: 12px;
  }
  .sub-title {
    margin-top: 6px;
    font-size: 16px;
    color: grey;
  }
  .divider {
    border-top: 3px solid #243d56;
    max-width: 120px;
    margin: 18px 0px;
  }

  .form-group {
    margin-bottom: 1em;

    .label {
      display: block;
      margin-bottom: 0.25em;
    }

    .input {
      padding: 12px;
      width: 100%;
      border: 1px solid #eaeaea;
      border-radius: 3px;
      background-color: white;

      &:focus {
        border-color: gray;
      }

      &::placeholder {
        color: gray;
      }
    }
  }

  button {
    background-color: #243d56;
    border: none;
    border-radius: 3px;
    color: #fff;
    padding: 12px 22px;
  }
  
  p {
    color: red;
    display: block;
    border-radius: 4px;
    font-size: 0.9em;
  }

  h6{
    margin-top: 1em;
  }

  .signup{
    text-decoration: none;
    color: #243d56;
  }
}
</style>
