<template>
  <div class="list-wrapper">
    <h1 class="title">Users list</h1>
    <div class="card" v-for="u in users" :key="u.id">
      <img :src="u.avatar" class="avatar" />

      <div class="info-wrapper">
        <p class="name">{{ u.first_name + ' ' + u.last_name }}</p>
        <p class="email">{{ u.email }}</p>

        <router-link class="button" :to="`/user/${u.id}`">Details</router-link>
      </div>
    </div>
    <div class="pagination">
      <div v-for="page in totalPages" :key="page">
        <h5 @click="getUsers(page)">{{ page }}</h5>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import {UserObj} from '../types/index'

@Component
export default class Users extends Vue {
  users: Array<UserObj> = []
  totalPages: number | string = 1

  mounted() {
    this.getUsers(1)
  }

  getUsers(pagenum: number) {
    fetch(`https://reqres.in/api/users?page=${pagenum}`, {
      method: 'GET',
      headers: { 'content-type': 'application/json' }
    })
      .then(response => response.json())
      .then(result => {
        console.log('Completed with result:', result)
        this.users = result.data
        this.totalPages = result.total_pages
        this.$store.dispatch('setCurrentUser', localStorage.getItem('access-token'))
        console.log("current user from here:::: ", localStorage.getItem('access-token'))
        this.$store.dispatch('setUsers', result.data)
      })
  }
}
</script>

<style lang="scss" scoped>
.list-wrapper {
  max-width: 800px;
  max-height: 85vh;
  margin: 0 auto;

  .title {
    margin: 32px 0px 12px 0px;
    font-size: 21px;
    text-decoration: underline;
    
  }

  &::after {
    content: '';
    clear: both;
    display: block;
  }
  .card {
    width: 380px;
    float: left;
    border-radius: 3px;
    background: #eaeaea;
    padding: 12px;
    margin: 10px;
    box-shadow: 0px 0px 3px rgba($color: #000000, $alpha: 0.3);
    display: flex;
    flex-direction: row;

    &::after {
      content: '';
      clear: both;
      display: block;
    }
    .avatar,
    .info-wrapper {
      float: left;
    }

    .avatar {
      width: 120px;
      height: 120px;
      object-fit: cover;
      margin-right: 12px;
    }

    .name {
      font-size: 16px;
    }
    .email {
      font-size: 14px;
      color: rgba($color: #000000, $alpha: 0.75);
    }

    .button {
      display: inline-block;
      text-decoration: none;
      margin-top: 8px;
      background-color: #243d56;
      border: none;
      border-radius: 3px;
      color: #fff;
      padding: 8px 12px;
      font-size: 12px;
    }
  }
}
.pagination {
  position: fixed;
  bottom: 0px;
  background: #fff;
  padding: 0.8em;
  width: 60%;
  display: flex;
  justify-content: center;
  margin: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: 10;

  h5{
    background: #EAEAEA;
    color: #243D56;
    border-radius: 50%;
    padding: 0.2em;
    padding-left: 0.4em;
    width: 30px;
    height: 30px;
    margin-right: 0.5em;
  }

  h5:hover{
    cursor: pointer;
  }
}
</style>
