<template>
  <div class="pg-container">
    <div class="main">
      <b-row>
        <b-col sm="12" md="4">
          <div class="main-info">
            <img :src="user.avatar" />
            <h4>{{ this.user.first_name }} {{ this.user.last_name }}</h4>
            <h6>{{ this.user.email }}</h6>
          </div>
        </b-col>
        <b-col sm="12" md="7">
          <div class="more-info">
            <h5>About</h5>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum nulla accusantium quam, provident rem,
              molestiae aut ducimus, delectus eos exercitationem autem necessitatibus sequi modi? Eius minima earum
              dolorem beatae libero?
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum nulla accusantium quam, provident rem,
              molestiae aut ducimus, delectus eos exercitationem autem necessitatibus sequi modi? Eius minima earum
              dolorem beatae libero?
            </p>
            
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum nulla accusantium quam, provident rem,
              molestiae aut ducimus.
            </p>
          </div>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import {UserObj} from '../types/index'

@Component
export default class User extends Vue {
  user: UserObj | null = null
  id: string = this.$route.params.id

  mounted() {
    fetch('https://reqres.in/api/users?id=' + this.id, {
      method: 'GET',
      headers: { 'content-type': 'application/json' }
    })
      .then(response => response.json())
      .then(result => {
        console.log('result from user page: ', result)
        this.user = result.data
      })
  }
}
</script>

<style lang="scss">
.pg-container {
  background: linear-gradient(90deg, #eae8f3 60%, #f4f5f7 40%);
  height: 100vh;
  position: relative;

  .main {
    width: 80%;
    border: 8px solid #243d5663;
    border-radius: 8px;
    background: white;
    padding: 1em;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1em;

    .main-info {

      h4{
          padding-top: 0.5em;
      }

      img {
        width: 15vw;
        height: 30vh;
      }
    }
  }
}
</style>
